.cartHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.hrCart {
  width: 100%;
  height: 1px;
  background-color: #000;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 600px) {
  .cartHeading {
    margin-top: 1rem;
  }
}
