.logbutton{

  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.dialogRef {

  left: 100px;
  top: 10px;

}


.mat-dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.mdc-dialog__surface {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  pointer-events: auto;
  overflow-y: auto;
}

.mat-mdc-dialog-container, .mat-mdc-dialog-container .mdc-dialog__container, .mat-mdc-dialog-container .mdc-dialog__surface {
  max-height: inherit;
  min-height: inherit;
  min-width: inherit;
  max-width: inherit;
  left: 100px;
  top: 1000px;
}

body.popup-opened {
  filter: blur(4px);
}
