<div class="sidebar">
  <ul>
    <li>
      <a routerLink="/">
        <img src="/assets/logo.png" alt="Logo">
      </a>
    </li>
    <li>
      <a routerLink="/MainCustomerAculog">Customer Dashboard</a>
    </li>
    <li>
      <a routerLink="#">Branch List</a>
    </li>
    <li>
      <a routerLink="#">Book Table</a>
    </li>
    <li>
      <a routerLink="#">Order History</a>
    </li>
    <li>
      <a routerLink="#">Contact Us</a>
    </li>
    <li>
      <a routerLink="/maincustomer">Profile</a>
    </li>
    <li>
      <a routerLink="/">Log Out</a>
    </li>
  </ul>
</div>
